body.darkTheme{
	background: #2F3238;
}
/*---------------------------------------------------------------
						DROPDOWN MENU
--------------------------------------------------------------*/

.dropdown_menu{
	color: #858588;
	font-size: 12pt;
	font-family: Myriad Pro;
	width: 270px;
    height: 115px;
	border-radius: 5px;
    background-color: #e8e9eb;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNkYWRiZGIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y2ZjdmYiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%,color-stop(0, #dadbdb),color-stop(1, #f6f7fb));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(90deg,#dadbdb 0%,#f6f7fb 100%);
    /* IE10+ */
    background-image: linear-gradient(0deg,#dadbdb 0%,#f6f7fb 100%);
    background-image: -ms-linear-gradient(90deg,#dadbdb 0%,#f6f7fb 100%);
	box-shadow : inset 0px 0px 1px 0px #000102, 0px 1px 2px 0px #000102;
}
.dropdown_menu ul {
	margin: 0px;
	padding-left: 12px;
}
.dropdown_menu ul li.list_head{
	text-align: center;
	font-size: 14pt;
} 
.dropdown_menu ul li{
	list-style: none;
}
.dropdown_menu ul li.list_item{
	
	margin: 0px;
	padding: 0px;
}

/*---------------------------------------------------------------
							END
--------------------------------------------------------------*/

/*---------------------------------------------------------------
					SELECTION LIST
--------------------------------------------------------------*/
.selection_box{
	border: 1px solid #bcbcbc;
	border-radius: 3px;
	background-color: azure;
	box-shadow: 1px 1px 3px #6f6d6d;
	max-width: 300px;
	text-align: left;
	color: #a7a7ab;
	font-size: larger;
	font-family: Myriad Pro;
	padding: 7px;
}
.selection_box ul{
	margin: 0px;
	list-style: none;
	padding: 0px;
}
.selection_box ul li span{
	box-shadow: inset 1px -1px 2px 1px #2787a3, 0px 0px 8px 0px #31ccfc;
	float: left; 
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #31ccfc;
	vertical-align: middle;
	margin-top: 10px;
	margin-right: 11px; 
}
.selection_box ul li:first-child{
	border-top: none;
}
.selection_box ul li{
	overflow: hidden;
	line-height: 30px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
	background-color: transparent;
	padding-left: 14px;
	border-top: 1px solid #c4c3c1; 
	box-shadow: 0px 0px 8px 0px #cccccc;
  
	font-size: 14pt;
	font-weight: 400;
	cursor: pointer;
}
.selection_box ul li:active{
	/* background: -moz-linear-gradient(top,rgb(255, 255, 255) 3%, rgb(219, 219, 219) 69%);
	background: -webkit-linear-gradient(top,rgb(255, 255, 255) 3%, rgb(219, 219, 219) 69%);
	background: -o-linear-gradient(top,rgb(255, 255, 255) 3%, rgb(219, 219, 219) 69%); */ 
}
.selection_box ul li.selected{
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
}
.selection_box .selected:before{
    content:"";
    //content:"•";
    box-shadow: inset 1px -1px 2px 1px #2787a3, 0px 0px 8px 0px #31ccfc;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #31ccfc;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 11px;
}
.selection_box .selected{
	color: #32cdfd;
	text-shadow: 2px 0px 2px #f5f6f8;
}
.selection_box ul li:hover{
	color: #32cdfd;
	text-shadow: 2px 0px 2px #f5f6f8;
}
.selection_box .footer{
	padding-bottom: 1px;
  width: 100%;
  height: 17px;
  font-size: 8pt;
  color: #72d6f5;
  letter-spacing: 2px;
}
.nav{
	cursor: pointer;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.selection_box .footer .noti{ 
	float: left;
	margin-top: 2px;
	margin-left: 10px; 
   font-size: 15px;
   height: 18px;
   width: 169px;
   line-height: 23px;
   color: #f00;
   text-align: center;
   padding-bottom: 0px;
}
.selection_box .footer .middle{
	float: left;
	margin-left: 71px;
    font-size: 41px;
    height: 18px;
    width: 38px;
    line-height: 25px;
    color: #a7a7ab;
    text-align: center;
    padding-bottom: 0px;
}
.selection_box .footer .nav{
	margin-top: 7px;
}
.selection_box .footer .left{
	float: left;
	margin-left: 7px;
}
.selection_box .footer .right{
	float: right;
	margin-right: 7px;
}
/*---------------------------------------------------------------
							END
--------------------------------------------------------------*/


#drag_in{
	width: 100px;
	height: 100px;
	border: 1px solid #abccba;
	border-radius: 9px;
}
#drag_in.dragIn{
	background-color:#bcddcb;
}
button.linux::-moz-focus-inner,
button.linux::-webkit-focus-inner{
  border:none;
}
input:focus,
input:active,
button:focus,
button:active{
  outline:none;
}
button.linux,
input.linux{
  	
	text-align: center;
	//line-height: ;
	font-family: Verdana;
	font-weight: bold;
	color: rgb(57, 57, 57);
	width: 24px;
	height: 24px;
	border-radius: 12px;
	border-style: solid;
	border-width: 2px;
	padding: 0px;
	margin: 0px;
	border-color: #cccccc;
}
.linux:hover{
	cursor: pointer;
}
.linux:active{
	box-shadow: 0px 0px 5px 0px rgba(11, 11, 11, 0.49) inset;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(11, 11, 11, 0.49) inset;
	-moz-box-shadow: 0px 0px 5px 0px rgba(11, 11, 11, 0.49) inset;
}
.window_operate{
	position: relative;
    right: 0px;
    top: 0px;
    float: right;
}
.linux.red{

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd8d8+0,ff7f7f+24,ff0c0c+51,ff5e5e+93,ff9393+100 */
	background: rgb(255,216,216); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,216,216,1) 0%, rgba(255,127,127,1) 24%, rgba(255,12,12,1) 51%, rgba(255,94,94,1) 93%, rgba(255,147,147,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,216,216,1) 0%,rgba(255,127,127,1) 24%,rgba(255,12,12,1) 51%,rgba(255,94,94,1) 93%,rgba(255,147,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,216,216,1) 0%,rgba(255,127,127,1) 24%,rgba(255,12,12,1) 51%,rgba(255,94,94,1) 93%,rgba(255,147,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd8d8', endColorstr='#ff9393',GradientType=0 ); /* IE6-9 */
}
.linux.green{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#daffd8+0,85ff7f+24,24ff0c+51,69ff5e+93,93ff93+100 */
	background: rgb(218,255,216); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(218,255,216,1) 0%, rgba(133,255,127,1) 24%, rgba(36,255,12,1) 51%, rgba(105,255,94,1) 93%, rgba(147,255,147,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(218,255,216,1) 0%,rgba(133,255,127,1) 24%,rgba(36,255,12,1) 51%,rgba(105,255,94,1) 93%,rgba(147,255,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(218,255,216,1) 0%,rgba(133,255,127,1) 24%,rgba(36,255,12,1) 51%,rgba(105,255,94,1) 93%,rgba(147,255,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daffd8', endColorstr='#93ff93',GradientType=0 ); /* IE6-9 */
}
.linux.blue {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d9ff+0,7f81ff+24,0c20ff+51,5e63ff+93,939bff+100 */
	background: rgb(216, 217, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(216, 217, 255, 1) 0%, rgba(127, 129, 255, 1) 24%, rgba(12, 32, 255, 1) 51%, rgba(94, 99, 255, 1) 93%, rgba(147, 155, 255, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(216, 217, 255, 1) 0%, rgba(127, 129, 255, 1) 24%, rgba(12, 32, 255, 1) 51%, rgba(94, 99, 255, 1) 93%, rgba(147, 155, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(216, 217, 255, 1) 0%, rgba(127, 129, 255, 1) 24%, rgba(12, 32, 255, 1) 51%, rgba(94, 99, 255, 1) 93%, rgba(147, 155, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8d9ff', endColorstr='#939bff', GradientType=0); /* IE6-9 */
}
body{
	font-family: Times New Roman;
	color: #222;
}

body.materialTheme{
	background-color: #0BD956;
}
/*-----------------------------------------------------------------------------
								TABS
-----------------------------------------------------------------------------*/
 /*контейнер табов */
.tabs {
	min-width: 320px;
	max-width: 800px;
	padding: 0px;
	margin-top: 9px;
}
/* стили секций с содержанием */
section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
.tabs input[name="tabs"] {
	display: none;
}
/* стили вкладок (табов) */
.tabs label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 10px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 1px solid #ddd;
	background: #f1f1f1;
	border-radius: 9px 9px 0 0;
}
/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
	color: #888;
	cursor: pointer;
}
/*стили для активной вкладки */
.tabs input:checked + label {
	color: #555;
	border: 1px solid #ddd;
	border-top: 5px solid #EFB300 ;
	border-bottom: 1px solid #fff;
	background: #fff;
}
.tabs input:not(:checked) + label{
	box-shadow: inset 0px -7px 5px #D2D2D2;
	-moz-box-shadow:  inset 0px -7px 5px #D2D2D2;	
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4{
	display: block;
	box-shadow: 4px 4px 5px rgba(110, 96, 96, 1);
	-moz-box-shadow:   4px 4px 5px #6E6060;
}
/* медиа запросы для различных типов носителей */  
@media screen and (max-width: 680px) {
	.tabs label {
		font-size: 18px;
	}
 
  .tabs label:before {
		margin: 0;
		font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
	.tabs label {
		padding: 15px;
	}
}
